<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
  crossorigin="anonymous">
  
  <!--Bootstrap Js and Popper-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>



  <title>My Wholesale Orders</title>

  
</head>
<body>

    <div th:replace="header :: header" ></div>

    <h2 style="text-align: center;">Manage Wholesale Orders</h2>

    <div  style="margin-left: 10px;margin-right: 10px;">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Price per Kg</th>
                    <th>Kilos Wanted</th>
                    <span sec:authorize="hasRole('ROLE_PRODUCER')">
                    	<th>Buyer's Profile</th>
                    </span>
                    <span sec:authorize="hasRole('ROLE_BUYER')">
                    	<th>Producer's Profile</th>
                    </span>
                    <th>Actions</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                
                
                <th:block th:each="bOffer : ${userBOs}">
                    <tr class="table-light">
                        <td>[[${bOffer.id}]]</td>
                        <td>[[${bOffer.type_of_product}]]</td>
                        <td>[[${bOffer.price_per_kg}]] Euro</td>
                        <td>[[${bOffer.approx_kilos_wanted}]] tonnes</td>
                        <td> 
                            <span sec:authorize="hasRole('ROLE_PRODUCER')">
                                <a class="btn btn-info" th:href="@{'/profile/'+${bOffer.buyer_id}}">[[${bOffer.buyer_name}]]</a> 
                            </span>
                            <span sec:authorize="hasRole('ROLE_BUYER')">
                                <a class="btn btn-info" th:href="@{'/profile/'+${bOffer.producer_id}}">Producer's profile</a> 
                            </span>
                        
                        </td>

                        <td>
                            <span th:if="${bOffer.status eq 'awaiting_response'}">
                            	<span th:if="${user.role == 'producer'}">
                                	<a class="btn btn-success" role="button" th:href="@{'/BuyerOffers/accept/'+ ${bOffer.id}}">Accept</a>
                                	<a class="btn btn-danger" role="button" th:href="@{'/BuyerOffers/decline/'+ ${bOffer.id}}">Decline</a>
                            	</span>
                            	<span th:unless="${user.role == 'producer'}">
                                	<a class="btn btn-primary" role="button" th:href="@{'/BuyerOffers/edit/'+ ${bOffer.id}}">Edit</a>
                                	<a class="btn btn-danger" role="button" th:href="@{'/BuyerOffers/delete/'+ ${bOffer.id}}">Delete</a>
                            	</span>
                            </span>
                            
                            <span th:if="${bOffer.status eq 'pending_payment'}">
                                <span th:if="${user.role == 'producer'}">
                                	<a>None.</a>
                            	</span>
                            	<span th:unless="${user.role == 'producer'}">                          		
                                	<a class="btn btn-primary" role="button" th:href="@{'/BuyerOffers/depositMade/'+ ${bOffer.id}}">Deposit Made</a>
                            	</span>
                            </span>
                            
                            <span th:if="${bOffer.status == 'awaiting_completion' }">
                                <span th:if="${user.role == 'producer'}">
                                	<a class="btn btn-primary" role="button" th:href="@{'/BuyerOffers/confirmDeposit/'+ ${bOffer.id}}">Confirm deposit</a>
                            	</span>
                            	<span th:unless="${user.role == 'producer'}">
                                	<a>None.</a>
                            	</span>
                            </span>
                            
                            <span th:if="${bOffer.status == 'completed' }">
                            	<span th:if="${user.role == 'producer'}">
                                	<a class="btn btn-warning" role="button" th:href="@{'/profile/rate/'+ ${bOffer.buyer_id}}">Rate User</a>
                            	</span>
                            	<span th:unless="${user.role == 'producer'}">
                                	<a class="btn btn-warning" role="button" th:href="@{'/profile/rate/'+ ${bOffer.producer_id}}">Rate User</a>
                            	</span>
                            </span>
                            
                        </td>
                        
                        <td>
                            <span th:if="${bOffer.status eq 'awaiting_response'}">
                            	<span th:if="${user.role == 'producer'}">
                                	<a>Pending Response</a>                              	
                            	</span>
                            	<span th:unless="${user.role == 'producer'}">
                                	<a>Pending Response</a>
                            	</span>
                            </span>
                            
                            <span th:if="${bOffer.status eq 'pending_payment'}">
                                <span th:if="${user.role == 'producer'}">
                                	<a>Awaiting deposit from Buyer.</a>
                            	</span>
                            	<span th:unless="${user.role == 'producer'}">
                                		<a>Awaiting Deposit.</a>
                            	</span>
                            </span>
                            
                            <span th:if="${bOffer.status == 'awaiting_completion' }">
                                <span th:if="${user.role == 'producer'}">
                                	<a>Awaiting Verification of Deposit.</a>
                            	</span>
                            	<span th:unless="${user.role == 'producer'}">
                                	<a>Awaiting Verification of Deposit.</a>
                            	</span>
                            </span>
                            
                            <span th:if="${bOffer.status == 'completed' }">
                            	<a>Completed.</a>
                            </span>
                            
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>

    </div>

</body>
</html>