<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
  crossorigin="anonymous">
  
  <!--Bootstrap Js and Popper-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>



  <title>My Civil Offers</title>

  
</head>
<body>

    <div th:replace="header :: header" ></div>

    <h2 style="text-align: center;">Manage Civilian Offers</h2>

    <div  style="margin-left: 10px;margin-right: 10px;">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Price per Kg</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                
                <th:block th:each="cOffer : ${userCOs}">
                    <tr class="table-light">
                        <td>[[${cOffer.id}]]</td>
                        <td>[[${cOffer.type_of_product}]]</td>
                        <td>[[${cOffer.price_per_kg}]]</td>
                        <td>
                            <a class="btn btn-primary" role="button" th:href="@{'/CivilOffers/edit/'+ ${cOffer.id}}">Edit</a>
                            <a class="btn btn-danger" role="button" th:href="@{'/CivilOffers/delete/'+ ${cOffer.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <div style="text-align: center;">
        <a class="btn btn-primary" th:href="@{/CivilOffers/create}">Create New Civilian Offer</a>
        </div>
    </div>







</body>


</html>