<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <div th:replace="headtags :: headtags"></div>

  <title>Home Page</title>

  
</head>

<body>

  <div th:replace="header :: header" ></div>

<br>

<!-- <div class="container" style="margin-left: 5%!important;">
  <div class="row">
  <div class="col" style="column-width: 15%;">
    <form th:action="@{/homepage/filtered}" method="get">
    <h5>Filters:</h5>
    <br>

    <select class="form-select" aria-label="Default select example" id="type_of_product" name = "filter"  >
      <optgroup label='Fruits'>
        <option value="Cherry">Cherries</option>
        <option value="Peach">Peaches</option>
        <option value="Plums">Plums</option>
        <option value="Kiwi">Kiwis</option>
        <option value="Banana">Bananas</option>
        <option value="Orange">Oranges</option>
        <option value="Pear">Pears</option>
        <option value="Apple">Apples</option>
        <option value="Other">Other</option>
      </optgroup>
      <optgroup label='Vegetables'>
        <option value="Tomatoes">Tomatoes</option>
        <option value="Lettuce">Lettuce</option>
        <option value="Cabbage">Cabbage</option>
        <option value="Broccoli">Broccoli</option>
        <option value="Onions">Onions</option>
        <option value="Carrots">Carrots</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Eggplant">Eggplant</option>
        <option value="Peppers">Peppers</option>
        <option value="Corn">Corn</option>
        <option value="Zuccini">Zuccini</option>
        <option value="Other">Other</option>
      </optgroup>
    </select>
    
    <br>
    <br>
    <button class="btn btn-primary" type="submit" >Search</button>

    </form>
    
  </div> -->

  


<!-- <div class="col"> -->
<th:block th:each="user : ${producers}">

<span th:if="${user.role == 'producer'}">
  
      <div class="card" style="margin-top: 20px!important;" >
        <span th:if="${user.photo != null}" style="text-align: center;">
          <img height="350px" th:src="@{'../user-photos/'+ ${user.id} + '/' + ${user.photo}}"alt="Card image cap">
        </span>
        <!-- INSERT CODE TO SHOW DEFAULT USER PHOTO IF NONE HAS BEEN PICKED OR MAYBE AS YOU CREATE THE USER ENTER THE PHOTO THERE -->
        <div class="card-body">
          <h5 class="card-title">[[${user.name}]]</h5>   
          
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Address: [[${user.address}]] </li>
          <li class="list-group-item">Phone Number: [[${user.phoneNum}]]</li>
          <li class="list-group-item">Rating: [[${user.rating}]] </li>
          
          <script th:inline="javascript">
            
            /*<![CDATA[*/

                  var fruitarr = /*[[${fruitserv.getByProdID(user.id)}]]*/ 'default';
                  var totalfruits = "";
                  fruitarr.forEach(element => {
                    totalfruits = totalfruits + element.type + " ";
                  });

                  document.open();
                  if(totalfruits != ""){
                    document.write('<li class="list-group-item">'+ totalfruits + '</li>');
                  }
                  document.close();

          /*]]>*/

          </script>
  
        </ul>
        <div class="card-body">
          <a class="btn btn-primary btn-sm" th:href="@{'/profile/'+ ${user.id}}">Producers Profile</a>
          
        </div>
      </div>
    </span>
</th:block>

<!-- </div> -->

<br>

</div>
</div>



</body>



</html>