<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    
    <div th:replace="headtags :: headtags"></div>

  <title>Find Producers</title>

  
</head>

<body>

  <div th:replace="header :: header" ></div>

<br>

<div class="container" style="margin-left: 5%!important;">
  <div class="row">
  <div class="col-md-4" style="padding-right: 70px;">
    <form th:action="@{/homepage/producers/filtered}" method="get">
    <h5>Filters:</h5>
    <br>
	<label for="type_of_product">Search By Product Produced</label>
    <select class="form-select" aria-label="Default select example" id="type_of_product" name = "produce"  >
      <optgroup label='Fruits'>
      	<option value="any">Any Type</option>
        <option value="Cherry">Cherries</option>
        <option value="Peach">Peaches</option>
        <option value="Plums">Plums</option>
        <option value="Kiwi">Kiwis</option>
        <option value="Banana">Bananas</option>
        <option value="Orange">Oranges</option>
        <option value="Pear">Pears</option>
        <option value="Apple">Apples</option>
        <option value="Other">Other</option>
      </optgroup>
      <optgroup label='Vegetables'>
        <option value="Tomatoes">Tomatoes</option>
        <option value="Lettuce">Lettuce</option>
        <option value="Cabbage">Cabbage</option>
        <option value="Broccoli">Broccoli</option>
        <option value="Onions">Onions</option>
        <option value="Carrots">Carrots</option>
        <option value="Potatoes">Potatoes</option>
        <option value="Eggplant">Eggplant</option>
        <option value="Peppers">Peppers</option>
        <option value="Corn">Corn</option>
        <option value="Zuccini">Zuccini</option>
        <option value="Other">Other</option>
      </optgroup>
    </select>

	<div class="form-group">
    	<label for="name">Search by name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter User's Name">
  	</div>
	
	<div class="form-group">
    	<label for="rating">Minimum Rating</label>
    	<input type="number" step="0.01" min="0" max="5" class="form-control" id="rating" name="rating" placeholder="Enter Minimum Rating">
  	</div>
    
    <br>
    <br>
    <button class="btn btn-primary" type="submit" >Search</button>
    <a style="margin-left: 10px" class="btn btn-secondary" th:href="@{/homepage/producers}">Clear</a>

    </form>
    
  </div> 

  


<div class="col-md-8" style="padding-left: 20%;">
<th:block th:each="user : ${producers}">

<span th:if="${user.role == 'producer'}">
  
      <div class="card shadow" style="margin-top: 20px!important;margin-bottom: 20px!important;" >
        <span th:if="${user.photo != null}" style="text-align: center;">
        	<span th:if="${ user.photo != ''}">
        		<span th:if="${ find == 'yes'}">
        			<br>
          			<img height="350px" th:src="@{'../../user-photos/'+ ${user.id} + '/' + ${user.photo}}"alt="Card cap">
          		</span>
          		<span th:if="${ find == 'no'}">
          			<br>
          			<img height="350px" th:src="@{'../user-photos/'+ ${user.id} + '/' + ${user.photo}}"alt="Card cap">
          		</span>
        	</span>
        </span>
        <span th:unless="${user.photo != null} and ${user.photo} != '' " style="text-align: center;">
          <img height="350px"  th:src="@{/imgs/stock-profile.jpg}" alt="Card image cap">
        </span>
        
        <div class="card-body">
          <h5 class="card-title">[[${user.name}]]</h5>   
          
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-location-dot fa-sm"></i> Address: [[${user.address}]] </li>
          <li class="list-group-item"><i class="fas fa-phone fa-sm"></i> Phone Number: [[${user.phoneNum}]]</li>
          <li class="list-group-item"><i class="fas fa-star fa-sm"></i> Rating: [[${user.rating}]]/5</li>
          
          <script th:inline="javascript">
            
            /*<![CDATA[*/

                  var fruitarr = /*[[${fruitserv.getByProdID(user.id)}]]*/ 'default';
                  var totalfruits = "Usually Produces: ";
                  fruitarr.forEach(element => {
                    totalfruits = totalfruits + element.type + " ";
                  });

                  document.open();
                  if(totalfruits != ""){
                    document.write('<li class="list-group-item">'+ totalfruits + '</li>');
                  }
                  document.close();

          /*]]>*/

          </script>
  
        </ul>
        <div class="card-body">
          <a class="btn btn-primary btn-sm" th:href="@{'/profile/'+ ${user.id}}">Producer's Profile</a>
          <span th:if="${user.id != currUser.id}">
          	<a class="btn btn-warning btn-sm" th:href="@{'/profile/rate/'+ ${user.id}}">Rate User</a>
          </span>
        </div>
      </div>
    </span>
</th:block>

</div> 

<br>

</div>
</div>

</body>
</html>