<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>
    <div th:replace="headtags :: headtags"></div>
    <title>Edit Profile</title>
  </head>

  <body>
 
  <div th:replace="header :: header" ></div>

  <br>

  <h3 style='text-align:center'> Edit Profile</h3>

  <br>

    <form class="mx-1 mx-md-4" th:action="@{/profile/edit/save}" method="post" th:object="${user}"enctype="multipart/form-data" >
      <input type='hidden' th:field="*{id}"/>

      <input type='hidden' th:field="*{role}"/>
      <input type='hidden' th:field="*{photo}"/>


      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="text" id="username" class="form-control" th:field = "*{name}"/>
          <label class="form-label" for="username">User Name</label>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="email" id="email" class="form-control" th:field = "*{email}"/>
          <label class="form-label" for="email">Email Address</label>
        </div>
      </div>

       <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="text" id="address" class="form-control" th:field = "*{address}"/>
          <label class="form-label" for="address">Address</label>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="text" id="phone" maxlength="10" class="form-control" th:field = "*{phoneNum}"/>
          <label class="form-label" for="phone">Phone Number</label>
        </div>
      </div>

      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <input type="password" placeholder="Leave blank if you don't want to change password"  id="password" class="form-control" th:field = "*{password}"/>
          <label class="form-label" for="phone">Password</label>
        </div>
      </div>

      <!-- INSERT SEC AUHTORIZE FOR PRODUCERS HERE-->
      <div sec:authorize="hasRole('ROLE_PRODUCER')">
      <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <label class="form-label" for="type_of_product">Type of Products: </label>
          <br>
          
            <label>Fruits: </label>
              <input class="form-check-input" name="idf" type="checkbox" value="Cherry"/>
              <label class="form-check-label">Cherries</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Peach"/>
              <label class="form-check-label">Peaches</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Plums"/>
              <label class="form-check-label">Plums</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Kiwi"/>
              <label class="form-check-label">Kiwis</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Banana"/>
              <label class="form-check-label">Bananas</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Orange"/>
              <label class="form-check-label">Oranges</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Pear"/>
              <label class="form-check-label">Pears</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Apple"/>
              <label class="form-check-label">Apples</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Other"/>
              <label class="form-check-label">Other</label>
            <br>
            <label>Vegetables: </label>
              <input class="form-check-input" name="idf" type="checkbox" value="Tomatoes"/>
              <label class="form-check-label">Tomatoes</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Lettuce"/>
              <label class="form-check-label">Lettuce</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Cabbage"/>
              <label class="form-check-label">Cabbage</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Broccoli"/>
              <label class="form-check-label">Broccoli</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Onions"/>
              <label class="form-check-label">Onions</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Carrots"/>
              <label class="form-check-label">Carrots</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Potatoes"/>
              <label class="form-check-label">Potatoes</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Eggplant"/>
              <label class="form-check-label">Eggplant</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Peppers"/>
              <label class="form-check-label">Peppers</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Corn"/>
              <label class="form-check-label">Corn</label>
              <input class="form-check-input" name="idf" type="checkbox" value="Zuccini"/>
              <label class="form-check-label">Zuccini</label>            
        </div>
      </div>
   
      </div>

      <span sec:authorize="hasRole('ROLE_BUYER') OR hasRole('ROLE_CIVILIAN')">
        <input type="hidden" name="idf"/>
      </span>

    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
        <label>Profile Picture(Max:1MB and Name must not have spaces): </label>
        <input type="file" name="image" accept="image/png, image/jpeg" />
      </div>
    </div>

    
      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
        <button type="submit"  class="btn btn-primary btn-lg">Save Changes</button>
       <a  style="margin-left: 10px;"class="btn btn-secondary btn-lg" th:href="@{/profile}">Cancel</a>
      </div>

    </form>
  </body>
</html>

<script>

  function setother(e){
    if (e.value=="Other") {
      document.getElementById('other').style.display="flex";
    }else{
      document.getElementById('other').style.display="none";
    }
  }


</script>